div{
    width:400px;
    margin:auto;
    box-sizing:border-box;
}

.satu{
    background-color: aqua;
    padding:10px;
    border:2px solid black;
    
}

.dua{
    background-color: blueviolet;
    padding:30px;
    border:3px dashed red;
    
}