*{
    margin: 0px;
    padding: 0px;
}

.banner{
    display: none;
}

.wrapper{
    width: 100%;
}

.info{
    width: 100%;
}

.info h2{
    padding: 25px 10px 20px;
    font: 45px arial, sans-serif;
    font-weight: bold;
    
}

.info p{
    padding: 10px 10px 1px;
    font: 16px arial, sans-serif;

}

.picture{
    width: 100%;
}

@media only screen and (min-width:820px) {
    .banner{
        display: block;
        width: 100%;
    }    
}

@media only screen and (min-width:1024px){
    .banner{    
        display: block;
        width: 100%;
    }

    .wrapper{
        padding: 0px 20px 10px;
        box-sizing: border-box;
    }

    .info{
        width: 50%;
        float: right;
    }

    .info h2{
        padding-bottom: 5px;
    }

    .info p{
        line-height: 25px;
    }

    .picture{
        width: 50%;
        float: left;
        padding-top: 45px;
    }
}
/*

*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 100%;
}

.img_banner{
    display: none;
}

.img_info{
    width: 100%;
}

.img_info h2{
    padding: 30px 15px 20px;
    font-size: 50px;
    font-family: arial;

    line-height: 44px;
}

.img_info p{
    padding: 0px 15px 20px;
    font-size: 16px;
    font-family: arial;
    line-height: 24px;
}

.img_pic{
    width: 100%;
}

@media only screen and (min-width: 820px){
    .img_banner{
        display: block;
        width: 100%;
        padding-bottom: 20px;
    }

    .wrapper{
        width: 600px;
        margin: 0 auto;
    }
 
    .img_info h2{
        padding: 20px 0px 0px;
    }
    
    .img_info p{
        padding: 20px 0px 0px;
    }

    .img_pic{
        padding-top: 30px;
    }
    
}

@media only screen and (min-width: 1000px){
    .wrapper{
        width: 1000px;       
    }

    .img_info{
        width: 50%;
        float: right;
    }

    .img_info h2{
        padding: 20px 0px 0px 30px;
    }
    
    .img_info p{
        padding: 20px 0px 0px 30px;
    }

    .img_pic{
        padding-top: 30px;
        width: 50%;
        float: left;
    }
}
*/